@font-face {
    src: url('/fonts/Windlass.ttf');
}

#user-text {
    -fx-font-size: 18pt;
    -fx-font-family: 'Windlass';
}
#pwd-text {
    -fx-font-size: 18pt;
    -fx-font-family: 'Windlass';
}

/* button-text */
VBox > StackPane > .label {
    -fx-font-size: 18pt;
    -fx-font-family: 'Windlass';
}