@font-face {
    src: url('/fonts/Windlass.ttf');
}

/* button-text */
VBox > StackPane > .label {
    -fx-font-size: 17pt;
    -fx-font-family: 'Windlass';
}

#send-text {
    -fx-font-size: 14pt;
    -fx-font-family: 'Windlass';
}

#c_selection_title {
    -fx-font-size: 22pt;
    -fx-font-family: 'Windlass';
}