.gameboard {
    background: url('img/encounter01/First_Blood.png') no-repeat;
    height: 864px;
    width: 936px;
}

.mapfield{
    float: left;
    width: 72px;
    height: 72px;
    /*border: 1px solid blue;*/
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
