.gameboard {
    height: 864px;
    width: 936px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.map {
    background: url('img/encounter/First_Blood.png') no-repeat;
    height: 864px;
    width: 936px;
    z-index: 10;
}

.mapfield{
    float: left;
    width: 72px;
    height: 72px;
    /*border: 1px solid blue;*/
    overflow: hidden;
}

.grisbane{
    float: left;
    width: 72px;
    height: 72px;
    /*border: 1px solid blue;*/
    overflow: hidden;
    background: url('img/heroes/Grisbane_Field.png') no-repeat;
    z-index: 20;
}

