
#MainPane {
    -fx-background-color: linear-gradient(rgba(0,74,127,0.9), rgba(0,42,84,0.9)),
        radial-gradient(center 50% 0%, radius 100%, rgba(255,255,255,0),rgba(0,42,84,0.9) );
}

.button {
    -fx-font-size: 10pt;
    -fx-font-weight: 500;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#B4B4BE, #797b86);
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #73757B;
}

.button:hover {
    -fx-font-size: 10pt;
    -fx-font-weight: 500;
    -fx-text-fill: white;
    -fx-background-color: #797b86;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #73757B;
}

.choice-box {
    -fx-font-size: 10pt;
    -fx-font-weight: 500;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#B4B4BE, #797b86);
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #73757B;
}

.choice-box .context-menu {
    -fx-font-size: 10pt;
    -fx-font-weight: 500;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#B4B4BE, #797b86);
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #73757B;
}

.choice-box .menu-item:focused {
  -fx-background-color: #797b86 ; /* for example */
}
